{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'ecocases/css/ecocases.css' %}">
    <title>Eco-Innovation Cases</title>
    <script src="{% static "js/jquery-3.2.1.js" %}"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}" ></script>
</head>

<body> 
    <!-- Image and text -->
    <div class="container top-buffer">
        <div class="row">
            <div class="col-md-8">
                <img style="float:left" id="platform-logo" src="{% static 'ecocases/images/aliennor-logo.png' %}"/>
                <h2>ALIENNOR</h2>  
            </div>

            <div class="col-md-4">
                {% if user.is_authenticated %}
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>   
                {% else %}
                    <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>   
                {% endif %}                 
            </div>
        </div>
    </div>
    <hr>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
