{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Display ecocase by id -->
<div class="panel-heading">
    <h3>{{ ecocase.ecocase_title }}</h3>
</div>
<!-- <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'ecocases:detail' ecocase.id %}">{{ ecocase.ecocase_title }}</a></h3>
</div> -->
<div class="panel-body">
    <div class="row top-buffer">
        <div class="col-md-4">
            <div class="cover-container">
                <ul class="list-inline">
                    {% for image_url in ecocase.ecocase_image_url_list %}
                        <div class="cover-item">
                            <img src="{% static image_url %}" class="center-block" alt="" height="250px">
                        </div>
                    {% endfor %}
                </ul>                
            </div>            
        </div>
        <div class="col-md-8">
            <h4>Description: </h4>
            {% autoescape off %}{{ ecocase.ecocase_description }}{% endautoescape %}
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-12 characters-textarea">
            <h4>Characters  : </h4>
            {% autoescape off %}{{ ecocase.ecocase_characters }}{% endautoescape %}
        </div>
    </div>

    <h4>Associated ESM</h4>        
    {% for esm in ecocase.esm_set.all %}
        <div class="row top-buffer">
            <div class="col-md-8">
                <li>{{ esm.esm_title }}</li>
            </div>
            <div class="col-md-4">
                {{ esm.votes }} vote{{ esm.votes|pluralize }}
            </div>
        </div>
    {% endfor %}
    <div class="text-right">
        <a href="{% url 'ecocases:vote' ecocase.id %}">Vote again?</a>
    </div>
    
    <br>
    <div class="text-right">
        <button type="button" class="btn btn-secondary"><a href="{% url 'ecocases:index' %}">Back to list</a></button>
        <button type="button" class="btn btn-secondary"><a href="{% url 'ecocases:update' ecocase.id %}">Update</a></button>
        <button type="button" class="btn btn-secondary"><a href="{% url 'ecocases:delete' ecocase.id %}">Delete</a></button>
    </div>
</div>  
{% endblock %}

